{
  "extends": [
    "airbnb/hooks",
    "plugin:react/recommended", 
    "plugin:jest/recommended",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": [
    "react",
    "react-hooks",
    "jest"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "prettier/prettier": [
      "error", 
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-expressions": "off",
    "react/no-children-prop": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/require-default-props": [ 1,
      {"ignoreFunctionalComponents": true}
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "linebreak-style": ["error", "unix"]
  }
}